/*font-size responsive */
html {
    font-size: 1.1rem;
 }
 h1 {
   font-size: 1.5rem;
 }
 h2 {
   font-size: 1.4rem;
 }
 p{
     font-size: 1.1rem;
 }
 a{
    font-size: 1.1rem;
}
 @media (max-width: 468px) {
    html {
      font-size: 0.8rem;
    }
    h1 {
        font-size: 1.4rem;
    }
    h2 {
        font-size: 1.2rem;
    }
    p{
        font-size: 0.8rem;
    }
    a{
        font-size: 0.8rem;
    }
  }
 @media (min-width: 991px) {
     html {
     font-size: 1.1rem;
   }
   h1 {
       font-size: 1.7rem;
   }
   h2 {
       font-size: 1.6rem;
   }
   p{
    font-size: 1.1rem;
}
a{
    font-size: 1.1rem;
}
 }
 @media (min-width: 1200px) {
   html {
     font-size: 1.2rem;
   }
   h1 {
       font-size: 1.9rem;
   }
   h2 {
       font-size: 1.8rem;
   }
   p{
    font-size: 1.2rem;
}
a{
    font-size: 1.2rem;
}
 }

 [class*="col-"], footer {
    background-color: black;
    border: 2px solid black;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
    }

body {
    background-color: black; 
    color: white;
    margin: 0; 
    font-family: 'Parisienne', cursive;
}
p{
    line-height: 1rem;
}

/*Navbar*/
.menu-bar { 
    min-height: 8%;
    background: black;
}

.nav-link {
    color: antiquewhite;
}

.nav-link:hover {
    color: goldenrod;
}

.nav-link:focus {
    color: goldenrod;
}
.active a{
    color: goldenrod;
}

.navbar-toggler .fab
{
    color: goldenrod;
}

.navbar{
    border-bottom: 1px solid goldenrod;
    background-color: black;
}

.navbar-brand {
    margin-left: 10%;
    padding: 0;
}
.fas {
    color: goldenrod;
}
.fab {
    color: goldenrod;
}
.fab:hover {
    color: white;
}

/*Carousel*/
.afterheader{
    border-bottom: 1px solid goldenrod;
}
/*.carousel-item img {
    height: 54.5vh;
    object-fit: contain;
}*/

/*Titre*/
.h2-responsive {
    padding-top: 5%;
    color: goldenrod;
}
.header-resto{
    text-align: center;
}
.card-link{
    border-bottom: 1px solid white;
    color: white;
}
.card-link:hover{
    border-bottom: 1px solid white;
    color: goldenrod;
    border-bottom-color: goldenrod;
}


/*jumbo*/
.jumbotron{
    background-color: goldenrod;
    color: black;
    
}

/* panels*/
.card {
    background-color: black;
    color: goldenrod;
    font-size: 0.6rem;
    border: 2px solid goldenrod;
}
.card-text {
    margin-top: 0;
    text-align: justify;
}
/* La carte */
#carte {
    color: black;
}

.corp2 ul {
    background-color: black;
    color: black;
}
.corp2 li {
    background-color:goldenrod;
}

/* Gallerie */
.gallery {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: auto;
    margin-left: auto;
}
.pagination li a{
    background-color: goldenrod;
    color: white;
}
.pagination li a:hover{
    background-color: white;
    color: goldenrod;
}

.page-item.active .page-link{
    background-color: black !important;
    color: goldenrod;
    border-color: white;
}
/*Contact*/
.btn{
    background-color: white;
    color:black;
    border: none;
    width: 20%;
}

.btn:hover{
    background-color: goldenrod;
    border: none;
    width: 20%;
}
.butonsend{
    color: black;
}

/*google-map responsive*/
.map-responsive {
overflow:hidden;
padding-bottom:70%;
position:relative;
height:0;
}

.map-responsive iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}
/*social-icon*/
.social{
    margin-top: 5%;
    margin-bottom: 3%;
}

/*Footer*/
.footer-copyright{
color: goldenrod;
border-top: 1px solid goldenrod;
margin-top: 10%;
}
.footer-copyright a{
    text-decoration: none;
    color: white;
}
.footer-copyright a:hover{
    text-decoration: none;
    color: goldenrod;
}


